/* soft reset do css */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    background-image: url('../img/ndaaver\ \(1\).png');
    background-size: auto 50vh;
    font-family: 'Source Code Pro', monospace;
    height: 50vh;
    font-size: 35px;
  }
  
  /* se a tela tiver pelo menos 400px vai carregar estes estilos */
  @media (min-width: 250px) {
body {
  font-size: 25px;
  background-size: auto 30vh;
  height: 20vh;
}
  }

  /* se a tela tiver pelo menos 400px vai carregar estes estilos */
  @media (min-width: 250px) {
    body .sobrete {
      font-size: 25px;
    }
  }

  header {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  
  }
  
  .menu li {
    list-style: none;
  }

  .menu a:active,
  .menu a{
padding: 3px; 5px;
display: block;
transition: backgraund-color 2s, color 1s;
  }

  .menu a:hover {
    background-color: teal;
    color: whitesmoke;
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title,
  .sobreescrever {
    text-align: center;
    color: whitesmoke;
    font-family: 'Shadows Into Light', cursive;
    font-size: 60px;
  }

  .sobrete {
    clip-path: polygon(50% 0%, 64% 28%, 98% 35%, 83% 71%, 79% 91%, 50% 68%, 21% 91%, 15% 70%, 2% 35%, 37% 28%);
  }
  
  .site-subtitle {
    font-style: italic;
    font-family: 'Share', cursive;
    font-size: 50px;
    clip-path: ellipse(50% 45% at 50% 50%);
  }

  .sobreescrever {
   font-size: 50px;
   font-family: 'Source Code Pro', monospace;
   color: wheat;
 }

 @media (min-width: 700px) {
   body .sobrete {
     font-size: 30px;
   }
 }

 @media (min-width: 700px) {
  body .site-title {
    font-size: 70px;
  }
}

@media (min-width: 700px) {
  body .site-subtitle {
    font-size: 60px;
  }
}

  .portfolio .grid {
    display: grid;
    gap: 2.5em;
  }

  @media (min-width: 570px) {
    .portfolio .grid {
      grid-template-columns: 250px 250px;
    }
  }

  @media (min-width: 880px) {
    .portfolio .grid {
      grid-template-columns: 250px 250px 250px;
      justify-content: center;
    }
  }

@media (min-width: 250px) {
  .portfolio .video {
    height: 426px;
    width: 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .video {
    height: 480px;
    width: 720px;
  }
}

  .sobre p {
    color: white;
    text-indent: 0.5em;
    margin-bottom: 0.5em;
  }



  .portfolio figure {
    text-align: center;
  }

  .portfolio {
    background-color: ROYALBLUE;
    padding: 1em;
  }

  .sobre h2,
  .contato,
  .portfolio h2{
    font-family: 'Source Code Pro', monospace;
    color: silver;
    margin-bottom: 0.5em;
  }

  .sobre {
    padding: 0.5em;
    min-height: 100 vh;
    background-color: GoldenRod;
  }

.sobre .avatar {
  float: right;
  margin-left: 1.5em;
}

.sobre .avatar img {
  object-fit: cover;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

  .img-portfolio {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .img-portfolio:hover {
    transform: scale(1.4) ; 
  }

 .img-arroz {
   height: 270px;
   width: 250px;
   border-radius: 25%;
   justify-content: center;
   object-fit: cover;
 }

.img-mudar {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.img-mudar:hover {
  transform: scale(1.4); 
}

.img-mudar2 {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.img-mudar2:hover {
  transform: scale(1.4); 
}

.img-mudar3 {
  height: 210px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.img-mudar3:hover {
  transform: scale(1.4); 
}


.contato {
  background-color: black;
  padding: 0.5;
}

.contato {
  font-size: 17px;
}

.contato .icons: {
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 0.5s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow:0px 1px 10px yellowgreen;
}
